# by default exclude anythign in jevents without an extension since it's
# probably a binary file
/jevents/**
!/jevents/**/
!/jevents/**/*.*
!/jevents/**/Makefile

/.*
!.gitignore
*.o
*.a
bench
*.log
__pycache__
/tmp/*
*.d
/test
/out*

perf.data
perf.data.*

/results
/temp
